
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
}

body {
    background-image: url(IMG/pattern.png);
}

.main {
    background: rgb(189,189,189);
    background: linear-gradient(340deg, rgba(189,189,189,1) 0%, rgba(200,200,200,1) 50%, rgba(223,223,223,1) 100%);
    width: 400px;
    height: 170px;
    margin: 100px auto;
    position: relative;
    padding: 25px;
    box-shadow: 5px 5px 15px gray;
    
}

.badge {
    background: rgb(230,99,87);
    background: linear-gradient(160deg, rgba(230,99,87,1) 0%, rgba(192,83,73,1) 100%);
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 96px;
    text-align: center;
    position: absolute;
    top: -15px;
    left: 40%;
}

.clock {
    background: rgb(237,237,237);
    background: linear-gradient(160deg, rgba(232,232,232,1) 0%, rgba(226,226,226,1) 100%);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    height: 100%;
    padding-top: 20px;
}

.calander {
    background-color: rgb(230,99,87);
    background: linear-gradient(160deg, rgba(230,99,87,1) 0%, rgba(192,83,73,1) 100%);
    width: 250px;
    margin: auto;
    box-shadow: 2px 2px 5px gray;
}

.calander .date {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    word-spacing: -8px;
    text-shadow: 2px 2px gray;
}

@media screen and (max-width: 420px) {
    .main {
        width: 380px;
        height: 160px;
    }
    .clock {
        font-size: 50px;
    }
}
